@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 1s;
    width: 80%;
    margin: auto;
}
.col-2 {
    flex-basis: 50%;
}
.div1 img {
    width: 50%;
    border-radius: 10%;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0,0.5);
    cursor: pointer;
    transition: 0.5s;
}
.div1 img:hover{
    transform:scale(90%);
}
body {
    background: #03001e;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        font-family: 'Poppins', sans-serif;
}


nav {
   
}
nav ul li {
    list-style: none;
}
nav ul {
    margin: 40px 0 40px;
    display: flex;
    justify-content: center;
    transition: 1s;

}
nav ul a {

    margin: 20px;
    text-decoration: none;
    font-size: 1.6rem;
    color: white;
    transition: 0.5s;
    padding: 20px;
}

nav ul a:hover{
    color: black;
}

nav ul:hover{
}